<header class="header-section" id="header">
  <div class="header-content-wrap container">
    <div class="logo-btn-wrap">
      <a href="/"><img class="header-logo" src="./img/general/header-logo.png" alt=""></a>
      <button class="burger-menu"><img class="burger-img" src="./img/mobile/burger-menu.png" alt=""></button>
      <button class="burger-menu-close"><img class="header-close-menu" src="./img/mobile/close-burger-menu.png" alt=""></button>
    </div>
    <ul class="header-list">
      <li class="header-list-item">
        <a href="#cover" class="header-link">What We Cover</a>
      </li>
      <li class="header-list-item">
        <a href="#article" class="header-link">Article of the Month</a>
      </li>
      <li class="header-list-item">
        <a href="#monetization" class="header-link">Mobile Monetization Insights</a>
      </li>
      <li class="header-list-item">
        <a href="#gems" class="header-link">Hidden Gems</a>
      </li>
      <li class="header-list-item">
        <a href="#developers" class="header-link">Developer Voices</a>
      </li>
      <li class="header-list-item">
        <a href="#index" class="header-link">Category Index</a>
      </li>
      <li class="header-list-item">
        <a href="#reports" class="header-link">Market Reports</a>
      </li>
    </ul>
  </div>
</header>

<div class="backdrop container">
  <ul class="backdrop-list">
    <li class="backdrop-list-item">
      <a href="#cover" class="backdrop-link">What We Cover</a>
    </li>
    <li class="backdrop-list-item">
      <a href="#article" class="backdrop-link">Article of the Month</a>
    </li>
    <li class="backdrop-list-item">
      <a href="#monetization" class="backdrop-link"
        >Mobile Monetization Insights</a
      >
    </li>
    <li class="backdrop-list-item">
      <a href="#gems" class="backdrop-link">Hidden Gems</a>
    </li>
    <li class="backdrop-list-item">
      <a href="#developers" class="backdrop-link">Developer Voices</a>
    </li>
    <li class="backdrop-list-item">
      <a href="#index" class="backdrop-link">Category Index</a>
    </li>
    <li class="backdrop-list-item">
      <a href="#reports" class="backdrop-link">Market Reports</a>
    </li>
    <li class="backdrop-list-item">
      <a href="#privacy" class="backdrop-link">Privacy Policy</a>
    </li>
    <li class="backdrop-list-item">
      <a href="#terms" class="backdrop-link">Terms and Conditions</a>
    </li>
    <li class="backdrop-list-item">
      <a href="#cookies" class="backdrop-link">Cookies Policy</a>
    </li>
  </ul>
</div>
