<section class="hero-section">
  <div class="hero-content-wrap container">
    <div class="hero-content">
      <h1 class="hero-title">The Future of Mobile Gaming Starts Here</h1>
      <img class="hero-line" src="./img/mobile/hero-line.png" alt="" />
      <p class="hero-text">
        Every day, thousands of mobile apps launch. But only a few rise to the
        top. At Tap & Swipe, we dig deep into the mobile gaming universe —
        exploring fresh releases, dissecting monetization strategies, and
        spotlighting the titles that deserve your attention. Whether you're a
        gamer, developer, or industry watcher, this is your space
      </p>
    </div>
  </div>
</section>
