<section class="monetization-section" id="monetization">
  <div class="monetization-content-wrap container">
    <h2 class="monetization-title">
      Ad-Based or Pay-to-Play: Which Works Best in 2025?
    </h2>
    <div class="monetization-card-text">
      <div class="monetization-text-wrapper">
        <p class="monetization-text">
          The eternal debate — player acquisition vs retention, LTV vs churn. We
          crunch data, interview top developers, and explore hybrid monetization
          that’s reshaping the mobile economy.
        </p>
        <p class="monetization-list-title">Key takeaways include:</p>
        <ul class="monetization-card-list">
          <li><span class="bulet">•</span><p class="monetization-list-text">Regions with highest IAP conversion rates</p></li>
          <li><span class="bulet">•</span><p class="monetization-list-text">Ad formats that retain players vs those that push them away</p></li>
          <li><span class="bulet">•</span><p class="monetization-list-text">The psychology of reward ads in casual games</p></li>
        </ul>
      </div>
      <div class="monetization-swiper swiper">
        <div class="monetization-swiper-wrapper swiper-wrapper">
          <div class="monetization-swiper-slide-1 swiper-slide">
            <img
              src="./img/general/monetization-img-1.png"
              alt="Monetization Image 1"
              class="monetization-card-image-1"
            />
          </div>
          <div class="monetization-swiper-slide-2 swiper-slide">
            <img
              src="./img/general/monetization-img-2.png"
              alt="Monetization Image 2"
              class="monetization-card-image-2"
            />
          </div>
        </div>
        <div class="gallery-pagination"></div>
      </div>
    </div>
  </div>
</section>
