.header-section {
  position: fixed;
  z-index: 1000;
  left: 0;
  right: 0;
}

.header-section .header-content-wrap {
  background: #f6f6f6;
  height: 76px;
  @include media(desktop) {
    display: flex;
    align-items: center;
    padding-left: 43px;
  }
}

.burger-menu-close {
  display: none;
}

.logo-btn-wrap {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-logo {
  width: 50px;
  height: 43px;
  @include media(desktop) {
  }
}

.header-list {
  display: none;
  @include media(desktop) {
    display: flex;
    gap: 24px;
    margin-left: 120px;
  }
}

.header-link {
  font-weight: 300;
  font-size: 14px;
  color: #191c25;
}

.header-close-menu,
.burger-img {
  width: 24px;
  height: 24px;
  @include media(desktop) {
    display: none;
  }
}

.backdrop {
  position: fixed;
  top: 75px;
  left: 0;
  right: 0;
  height: 100%;
  margin: 0 auto;
  z-index: 1001;
  background: #f6f6f6;
  opacity: 0;
  visibility: hidden;
}

.backdrop.show {
  opacity: 1;
  visibility: visible;
  display: flex;
  justify-content: center;
}

.backdrop-list {
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin-top: 15px;
}

.backdrop-list-item {
  padding: 8px;
}
